
@model TJTransportesApp.Models.ViewModel.PerfilViewModel
@{
    ViewBag.Title = "Incluir";
}


    <div class="row p-1">
        <div class="card p-0">
            <div class="card-header">
               
                <span class="prn-font-card-header">Cadastro de Perfis - INCLUIR</span>
                @*<a class="float-end dis-block btn btn-sm btn-primary create" href="@Url.Action("Incluir","Perfil")"><i class="fas fa-plus-circle"></i>  Novo </a>*@
            </div>
            <!--Fomulario-->
            @using (Html.BeginForm("Incluir", "Perfil", FormMethod.Post, new { @class = "needs-validation" }))
            {
                <div class="card-body">




                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-12">
                            <label class="form-label" for="Descricao">Descrição</label>
                            @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control", placeholder = "Digite a descrição do Perfil", name = "desc" })
                            @Html.ValidationMessageFor(m => m.Descricao, "", new { @class = "text-danger", role = "alert" })
                        </div>
                    </div>
                   








                </div><!--fim do card body-->
        <div class="card-footer">
            <div class="row">

                <div class="col-12">
                    <button type="submit" class="btn btn-primary m-1 btn-sm" style="color:#ffffff;"><i class="fas fa-save"></i> &nbsp;Salvar</button>

                    <a class="btn btn-danger m-1 btn-sm" style="color:#ffffff;" href="@Url.Action("Index", "Perfil")"><i class="fas fa-ban"></i> &nbsp;Cancelar</a>
                </div>
            </div>

        </div>
            }

        </div>
       
    </div>

